@font-face {
    font-family: "Monaco";
    src: url("monaco.ttf")
}

html, body {
    font-family: Monaco;
    background-color: #40555C;
}

a {
    color: #438FA8; 
}

.block {
    height: 98%;
    width: 75%;

    padding: 1px;
    padding-bottom: 2px;

    padding-left: 20px;
    padding-right: 20px;

    margin: auto;

    margin-bottom: 1%;

    color: #769CA8;

    background-color: #2F6475;
}

.codeblock {
    background-color: #ABE2F5;

    width: 50%;

    margin-top: 5px;

    padding: 2px;

    padding-left: 10px;
    padding-right: 10px;
}

.centered {
    text-align: center;
}